$body-backgroundcolor : #F4F4F4;

$header-height : 44px;
$header-backgroundColor : #31c27c;
$log-height : 25px;
$log-marginLeft : 10px;
$playButton-top : 8px;
$playButton-right : 10px;
$playButton-height : 28px;
$playButton-lineHeight : 28px;
$playButton-fontSize : 14px;
$playButton-bgc : #149c5a;
$playButton-color : #fff;
$playButton-boederRadius : 99px;
$playButton-padding : 0 12px;

$nav-padding: 9px 0 10px 0;
$nav-color: rgba(0,0,0,0.6);
$nav-activeColor: #31c27c;

$swiper-width : 100%;